<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гулдер.kz</title>
</head>

<body>
    <form action="/flowers/add" method="post">
        <label>Название: </label>
        <input type="text" name="name" placeholder="Введите название цветка" /><br>

        <label>Количество: </label>
        <input type="number" name="count" placeholder="Введите количество цветков" /><br>

        <label>Цена: </label>
        <input type="number" name="cost" placeholder="Введите цену за цветок" /><br>

        <input type="submit" value="submit" />
    </form>
</body>

</html>