<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гулдер.kz - регистрация</title>
</head>

<body>
    <form action="/signup" method="post">
        <label>Email: </label>
        <input type="email" name="email" placeholder="Введите email" /><br>

        <label>Имя Фамилия: </label>
        <input type="text" name="full_name" placeholder="Введите полное имя" /><br>

        <label>Пароль: </label>
        <input type="password" name="password" placeholder="Введите пароль" /><br>

        <input type="submit" value="Зарегистрироваться" />
    </form>
</body>

</html>